name: Wasm

on:
  push:
    branches: [main]
    paths:
      - 'wasm/**'
  pull_request:
    branches: [main]
    paths:
      - 'wasm/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run clang-format style check for C/C++/Protobuf programs.
        uses: jidicula/clang-format-action@v4.10.2
        with:
          clang-format-version: '10'
          check-path: ./wasm

      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v12
        with:
          version: 3.1.9
          actions-cache-folder: 'emsdk-cache'

      - name: cmake config
        run: yarn cmake:config
      - name: build
        run: yarn cmake:build
